*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body {
  font-family: Helvetica, Verdana, Arial, sans-serif; 
}

.nav_index{
  background-color: #38618C;
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100vw;
  max-height: 36px;
  height: 36px;
}
.nav_index  a{
  list-style-type: none;
  color: white;

}

.svg{
  width: 24px;
  height: 24px;
} 

a:link {
  text-decoration: none;
}

.header_index{
  width: auto;
  height: auto;
  position: absolute;
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  right: 0;
}
.header_index .title_index{
  background-color: #38618C;
  padding: 25px;
  width: auto;
  height: 5vh;
  color: white;
  align-content: center;
}

.header_index svg{
  width: auto;
  /* height: 100px; */
}
.header_index button{
  background-color: #38618C;
  color: white;
  border: none;
}

.title_index h1, #pageheader h1{
  font-size: 20px;
}


#container_card_index{
margin-top: 160px;
}

 .card_1{
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
}


.card_1 .card-img-top{
  height: auto;
  top: 24px;  
  border-radius: 15px; 
} 


 #pageheader{
  text-align: center;
}

.bodycontent_contact{
  margin-top: 100px;
  color: white;
  justify-items: center;
  font-size: 20px;
}

.bodycontent_contact img{
  width: 300px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bodycontent_contact a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
}

.texto_bodycontact{
  margin-bottom: 60px;
}
.imagen_about{
  display: flex;
  flex-direction: column;
 align-items: center; 
}
.imagen_about img{
  margin-top: 100px;
  width: 280px;
  height: auto;
  border-radius: 15px;
}

.acordions_about{
  margin-top: 70px;
  border: 1px solid white;
  
}
.accordion-button{
 background-color: #6BBF59;
  color: white; 
}

.acordions_rules{
  margin-bottom: 30px;
}

.titlecenter{
  margin-top: 80px;
  padding: 10px;
  text-align: center;
  color: white;
}

.bodycontent_register{
  background-color: #6BBF59;
  margin-top: 80px;
  color: white;
  font-weight: 700;
}

fieldset{
  margin: 0.2em 1em;
  border:solid 1px white;
}

.stylized input{
  margin: 0.2em 1em;
  border-top: 1px solid white;
  text-align: center;
}

.stylized label{
  font-size: large;
}

.contract_register{
  margin: 0.2em 0.1em;
}

.button_register{
margin-bottom: 50px;
color: rgb(255, 255, 255); 
font-size: 16px; 
line-height: 16px; 
padding: 6px; 
border-radius: 10px; 
font-family: Georgia, serif; 
font-weight: 700; 
box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
background-color: #38618C;
border: 2px solid rgb(28, 110, 164); 
width: 200px;
}

.btn-group-vertical{
  margin-top: 140px;
  text-align: center;
}